/* ==========================================================================
   #LOGO
   ========================================================================== */

// Internal variables.
$logo-width: 160px;

.c-logo {
    float: left;
    color: $color-white;
}

.c-logo__img {
    width: $logo-width;
    margin-right: $spacing-unit--tiny;
}
