/* ==========================================================================
   #ARTICLE-LIST
   ========================================================================== */

/**
 * List of articles.
 */

.c-article-list {}

.c-article-list__item {
  display: block;
  width: 100%;
  text-align: left;
}

.c-article-list__title {
  @include font-size(16px, 1.2);

  color: $color-black;
  margin-bottom: $spacing-unit--small;
}

.c-article-list__abstract {
  @include font-size(14px, 1.3);

  display: block;
  color: $color-gray;
}

.c-article-list__img-inline {
  float: right;
  margin: 0 0 $spacing-unit--small $spacing-unit--small;
}

.c-article-list__img {
  position: relative;
  background-color: $color-gray--dark;

  li:not(:first-child) & {
    margin-top: -1px;
  }
}

// .c-article-list__copyright {
//   @include font-size(12px, 1.2);

//   display: block;
//   color: $color-white;
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba($color-black, 0.3);
//   padding: $spacing-unit--tiny $spacing-unit;

//   &::before {
//     content: '\00a9';
//     margin-right: $spacing-unit--tiny;
//   }
// }

.c-article-list__img-caption {
  @include font-size(12px, 1.2);

  display: block;
  font-style: italic;
  color: $color-gray;
  padding: $spacing-unit--small $spacing-unit 0 $spacing-unit;
}

.c-article-list__content {
  @include clearfix;

  padding: $spacing-unit;
  border-bottom: 1px solid $color-gray--light;
}
