/* ==========================================================================
   #FILTER
   ========================================================================== */

// Internal variables.
$filter-background-color: $color-black;

.c-filter {
  @include font-size(14px, 1.5);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba($color-black, 0.4);
  padding: $spacing-unit;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: $color-gray;
}

.c-filter__inner {
  background-color: $color-white;
  padding: $spacing-unit;
  border-radius: $global-radius;
  margin-top: $spacing-unit--large;
  box-shadow: $global-box-shadow;

  > :last-child {
    margin-bottom: 0;
  }
}

.c-filter__title {
  @include font-size(12px, 1);

  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: $spacing-unit--small;
  color: $color-black;

  &:not(:first-child) {
    margin-top: $spacing-unit--small;
  }
}

.c-filter__select {
  position: relative;
  margin-bottom: $spacing-unit;

  select {
    @include font-size(16px, 1);

    -webkit-appearance: none;
    padding: $spacing-unit--small;
    border-radius: $global-radius;
    border: 0;
    background-color: rgba($color-black, 0.05);
    color: $color-black;
    width: 100%;
  }

  &::-ms-expand {
    display: none;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: $spacing-unit--small;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $color-black transparent transparent transparent;
  }
}
