/* ==========================================================================
   #HEADER
   ========================================================================== */

// Internal variables.
$header-background-color: $color-black;

.c-header {
  @include clearfix;

  position: relative;
  z-index: 150;
  padding: $spacing-unit--small;
  background-color: $header-background-color;
  text-align: center;
}

.c-header__button {
  @include font-size(13px, 1);

  float: right;
}
