/* ==========================================================================
   #LOADER
   ========================================================================== */

// Internal variables.
$loader-max-width: 100px;

.c-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.c-loader__icon {
    max-width: $loader-max-width;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
