/* ==========================================================================
   #LOADER
   ========================================================================== */

// Internal variables.
$loader-max-width: 12px;
$loader-max-width--header: 16px;

.c-loader {
  line-height: 1;
  display: inline-block;
  max-width: $loader-max-width;
  margin: 0 $spacing-unit--small;

  img {
    width: 100%;
  }
}

.c-loader--header {
  float: left;
  line-height: 1.3;
  max-width: $loader-max-width--header;
}
