/* ==========================================================================
   #ARTICLE-LIST
   ========================================================================== */

/**
 * List of articles.
 */

.c-article-list {}

.c-article-list__item {
  display: block;
  width: 100%;
  text-align: left;
}

.c-article-list__content {
  @include clearfix;

  padding: $spacing-unit;
  border-bottom: 1px solid $color-gray--light;
}

.c-article-list__title {
  @include font-size(16px, 1.2);

  font-family: 'Charter', Georgia, 'Times New Roman', Times, serif;
  color: $color-black;
  margin-bottom: $spacing-unit--small;
}

.c-article-list__abstract {
  @include font-size(14px, 1.3);

  display: block;
  color: $color-gray;
}

.c-article-list__img-inline {
  float: right;
  margin: 0 0 $spacing-unit--small $spacing-unit--small;
}

.c-article-list__img {
  position: relative;
  background-color: $color-gray--dark;

  li:not(:first-child) & {
    margin-top: -1px;
  }
}

.c-article-list__img-caption {
  @include font-size(12px, 1.2);

  display: block;
  font-style: italic;
  color: $color-gray;
  padding: $spacing-unit--small $spacing-unit 0 $spacing-unit;
}

/**
 * No articles found.
 */

.c-article-list__empty {
  color: $color-gray;
  text-align: center;
  padding: $spacing-unit--large $spacing-unit;
}

.c-article-list__empty-title {
  @include font-size(22px, 1.2);

  font-family: 'Charter', Georgia, 'Times New Roman', Times, serif;
  color: $color-black;
  margin-bottom: $spacing-unit--small;
}
