/* ==========================================================================
   #ANIMATIONS
   ========================================================================== */

/**
 * Animations, mostly Vue-specific.
 */

.fade-enter-active,
.fade-leave-active {
  transition: $global-transition;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in $global-transition-duration $global-transition-easing;
}

.bounce-leave-active {
  animation: fade-out $global-transition-duration $global-transition-easing;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
