<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The New York Times Lite</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="assets/css/main.css">

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="assets/js/vendor/html5shiv.min.js"><\/script>')</script>
        <![endif]-->

        <style>
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="app" @keyup.esc="showFilter = false">
            <div class="c-header" @click.self="showFilter = !showFilter">
                <div class="c-logo" @click="resetArticles">
                    <img class="c-logo__img" src="assets/svg/nytlogo.svg" alt="The New York Times Lite">
                    Lite
                </div>
                <button class="c-header__button c-btn c-btn--primary" @click="showFilter = !showFilter">Filters</button>
            </div>

            <transition name="bounce">
                <template v-if="showFilter">
                    <div class="c-filter" @click.self="showFilter = !showFilter">
                        <div class="o-wrapper o-wrapper--flush">
                            <div class="c-filter__inner">
                                <button class="c-filter__close" @click="showFilter = !showFilter">Close</button>
                                <span class="c-filter__title">Section</span>
                                <div class="c-filter__select">
                                    <select v-model="currentSection">
                                        <option v-for="section in sections" v-bind:value="section">
                                            {{ section | formatSectionTitle }}
                                        </option>
                                    </select>
                                </div>
                                <span class="c-filter__title">Period</span>
                                <div class="c-filter__select">
                                    <select v-model="currentPeriod">
                                        <option v-for="(period, key) in periods" v-bind:value="key">
                                            {{ period }}
                                        </option>
                                    </select>
                                </div>
                                <span class="c-filter__title">Type</span>
                                <div class="c-filter__select">
                                    <select v-model="currentType">
                                        <option v-for="(type, key) in types" v-bind:value="key">
                                            {{ type }}
                                        </option>
                                    </select>
                                </div>
                                <span class="c-filter__title">What is this?</span>
                                <p>A fast and lightweight website showing the Most Popular articles of The New York Times. Not affiliated with The New York Times, just a side project. <a href="https://developer.nytimes.com">Data provided by The New York Times</a>. Hosted by <a href="https://netlify.com">Netlify</a>.</p>
                            </div>
                        </div>
                    </div>
                </template>
            </transition>
            <div class="o-wrapper o-wrapper--flush">
                <transition name="fade">
                    <div class="c-loader" v-if="loading" aria-hidden="true">
                        <img class="c-loader__icon" src="assets/svg/loader.svg" alt="Loading...">
                    </div>

                    <ul class="o-list-bare c-article-list" v-if="!loading" v-cloak>
                        <li v-for="(article, index) in articles">
                            <a :href="article.url" class="c-article-list__item">
                                <div class="c-article-list__img-container" v-if="article.image && article.bigImage">
                                    <div class="o-ratio o-ratio--3:2 c-article-list__img">
                                        <img class="o-ratio__content" :src="article.image.url" :alt="article.image.caption || article.title">
                                    </div>
                                    <span class="c-article-list__img-caption" v-if="article.image.caption" v-html="article.image.caption"></span>
                                </div>
                                <div class="c-article-list__content">
                                    <div class="c-article-list__img-inline" v-if="article.image && !article.bigImage">
                                        <img :src="article.image.url" :alt="article.image.caption || article.title">
                                    </div>
                                    <h2 class="c-article-list__title" v-html="article.title"></h2>
                                    <span class="c-article-list__abstract" v-html="article.abstract"></span>
                                </div>
                            </a>
                        </li>
                        <li class="c-article-list__empty" v-if="articles.length === 0 || noNewResults">
                            <h2 class="c-article-list__empty-title">Whoops! No articles found.</h2>
                            <p>Please try some different filters.</p>
                        </li>
                        <li class="c-article-list__content" v-if="!noNewResults">
                            <button class="c-btn c-btn--primary c-btn--large c-btn--full" @click="fetchData(true)">Load more</button>
                        </li>
                    </ul>
                </transition>
            </div>
        </div>

        <script src="assets/js/vendor/vue.min.js"></script>
        <script src="assets/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-100048149-1','auto');ga('send','pageview');
        </script>
    </body>
</html>
