/* ==========================================================================
   ARTISTYEAR.ORG
   ========================================================================== */

/**
 * Main SCSS file, containing all the styling for New York Times Lite.
 *
 * Built using the ITCSS methodology and using the
 * inuitcss framework. Props to [Harry Roberts](https://csswizardry.com}
 */

/**
 * Settings
 */

@import '../../node_modules/inuitcss/settings/settings.core';
@import 'settings/settings.config';
@import 'settings/settings.colors';
@import 'settings/settings.global';

/**
 * Tools
 */

@import '../../node_modules/inuitcss/tools/tools.rem';
@import '../../node_modules/inuitcss/tools/tools.font-size';
@import '../../node_modules/inuitcss/tools/tools.clearfix';
@import '../../node_modules/inuitcss/tools/tools.hidden';

$mq-breakpoints: (
  small: 320px,
  medium: 420px,
  large:  480px,
) !default;

@import '../../node_modules/sass-mq/mq';

$inuit-wrapper-width: 600px;

@import 'tools/tools.aliases.scss';
@import 'tools/tools.z-index.scss';

/**
 * Generic
 */

@import '../../node_modules/inuitcss/generic/generic.box-sizing';
@import '../../node_modules/inuitcss/generic/generic.normalize';
@import '../../node_modules/inuitcss/generic/generic.reset';
@import '../../node_modules/inuitcss/generic/generic.shared';
@import 'generic/generic.reset';
@import 'generic/generic.animations';
@import 'generic/generic.vue';

/**
 * Elements
 */

@import '../../node_modules/inuitcss/elements/elements.page';
@import '../../node_modules/inuitcss/elements/elements.headings';
@import '../../node_modules/inuitcss/elements/elements.images';
// @import '../../node_modules/inuitcss/elements/elements.tables';
@import 'elements/elements.page';
@import 'elements/elements.links';

/**
 * Objects
 */

@import '../../node_modules/inuitcss/objects/objects.wrapper';
// @import '../../node_modules/inuitcss/objects/objects.layout';
// @import '../../node_modules/inuitcss/objects/objects.media';
// @import '../../node_modules/inuitcss/objects/objects.flag';
@import '../../node_modules/inuitcss/objects/objects.list-bare';
// @import '../../node_modules/inuitcss/objects/objects.list-inline';
// @import '../../node_modules/inuitcss/objects/objects.box';
// @import '../../node_modules/inuitcss/objects/objects.block';

$inuit-ratios: (
  (3:2),
) !default;

@import '../../node_modules/inuitcss/objects/objects.ratio';
// @import '../../node_modules/inuitcss/objects/objects.crop';
// @import '../../node_modules/inuitcss/objects/objects.tables';
// @import '../../node_modules/inuitcss/objects/objects.pack';
@import 'objects/objects.wrapper';

/**
 * Components
 */

@import 'components/components.header';
@import 'components/components.logo';
@import 'components/components.buttons';
@import 'components/components.filter';
@import 'components/components.loader';
@import 'components/components.article-list';

/**
 * Utilities
 */

// @import '../../node_modules/inuitcss/utilities/utilities.clearfix';
// @import '../../node_modules/inuitcss/utilities/utilities.widths';
// @import '../../node_modules/inuitcss/utilities/utilities.headings';
// @import '../../node_modules/inuitcss/utilities/utilities.spacing';
// @import '../../node_modules/inuitcss/utilities/utilities.print';
// @import '../../node_modules/inuitcss/utilities/utilities.hide';
