/* ==========================================================================
   #ALIASES
   ========================================================================== */

$spacing-unit:          $inuit-global-spacing-unit;
$spacing-unit--tiny:    $inuit-global-spacing-unit-tiny;
$spacing-unit--small:   $inuit-global-spacing-unit-small;
$spacing-unit--medium:  round($inuit-global-spacing-unit * 1.5);
$spacing-unit--large:   $inuit-global-spacing-unit-large;
$spacing-unit--huge:    $inuit-global-spacing-unit-huge;

$wrapper-width: $inuit-wrapper-width;

@mixin font-size($args...) {
  @include inuit-font-size($args...);
}

@mixin clearfix {
  @include inuit-clearfix;
}

@mixin hide {
  @include inuit-hidden-visually;
}
